.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planet-container {
  display: flex;
  margin: 10px 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}
