.planet {
  border: solid black 4px;
  border-radius: 50%;
  margin-bottom: 10px;
  min-height: 180px;
  min-width: 180px;
  text-align: center;
}

.planet:hover {
  background: #bababa;
}

.planet-name {
  text-decoration: underline;
}

.visited {
  background-color: red;
}

.temperate {
  background-color: #819359;
}

.arid {
  background-color: 	#cbbbac;
}

.murky {
  background-color: #818877;
}

.frozen {
  background-color: #A5F2F3;
}

.tropical {
  background-color: #00755e;
}
